.header {

  padding: 1.3rem 0 2.4rem;

  &__menu {
    margin-left: auto;

    transition: all .2s ease;

    &-icon {
      width: 1.188rem;
      height: 0.875rem;

      fill: $white;
    }

    &:hover {
      opacity: .75;
    }

  }
}
