.works-slider {
  &__item {
    display: inline-flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 10.438rem;
    height: 10.5rem;
  }

  &__desc {
    font-family: $proxima;
    color: $white;
    text-align: center;
  }

  &__title {
    padding: 1.875rem 0 1.68rem;

    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.056rem;
  }

  &__text {
    transform: scale(0);

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.501rem;
  }

  .slick-arrow {
    padding: 1.5rem;

    border-radius: 50%;
    background-color: $gray;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 15px;

    top: 50%;

    transform: translate(-50%,-50%);

    fill: $white;
  }

  .slick-current {
    .works-slider__text {
      //TODO Get the central slide and animate it
    }
  }
}