.works-slider {
  &__item {
    display: inline-flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 10.438rem;
    height: 10.5rem;
  }

  &__desc {
    text-align: center;
  }

  .slick-arrow {
    padding: 1.5rem;

    border-radius: 50%;
    background-color: $gray;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 15px;

    top: 50%;

    transform: translate(-50%,-50%);

    fill: $white;
  }
}