<section class="home">
    <div class="container">
        <div class="home-slider">
            <div class="home-slider__page">
                <h1 class="home-slider__heading">
                    Your next<br>
                    interactive<br>
                    experience<br>
                </h1>
                <button class="btn btn--blue">
                    <span class="btn__text">
                        Hire Us
                    </span>
                    <svg class="btn__icon">
                        <use xlink:href="#btn-arrow"></use>
                    </svg>
                </button>
                <img src="/assets/img/home-slider-1.png" alt="" class="home-slider__image">
            </div>
        </div>
    </div>
</section>