<section class="works">
    <div class="container">
        <h2 class="works__title">Selected work</h2>
        <div class="works-slider">

            <div class="works-slider__item">
                <img src="/assets/img/works-slider-1.png" alt="" class="works-slider__image">
                <div class="works-slider__desc">
                    <h2 class="works-slider__title">
                        Metiew & Smith
                    </h2>
                    <p class="works-slider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                </div>
            </div>
            <div class="works-slider__item">
                <img src="/assets/img/works-slider-2.png" alt="" class="works-slider__image">
                <div class="works-slider__desc">
                    <h2 class="works-slider__title">
                        Metiew & Smith
                    </h2>
                    <p class="works-slider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                </div>
            </div>
            <div class="works-slider__item">
                <img src="/assets/img/works-slider-3.png" alt="" class="works-slider__image">
                <div class="works-slider__desc">
                    <h2 class="works-slider__title">
                        Metiew & Smith
                    </h2>
                    <p class="works-slider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                </div>
            </div>
            <div class="works-slider__item">
                <img src="/assets/img/works-slider-1.png" alt="" class="works-slider__image">
                <div class="works-slider__desc">
                    <h2 class="works-slider__title">
                        Metiew & Smith
                    </h2>
                    <p class="works-slider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    </p>
                </div>
            </div>
        </div>
        <button class="works-slider__prev">
            Prev
        </button>
        <button class="works-slider__next">
            Next
        </button>
    </div>
</section>