
/* ===== Style reset ===== */
@import "../../../node_modules/normalize.css/normalize";

/* ===== Bootstrap grid ===== */
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

/* ===== Slick slide ===== */
@import "../../../node_modules/slick-carousel/slick/slick.scss";

/* ===== Template vars ===== */
@import "vars";

/* ===== Fonts ===== */
@import "fonts";

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

:root {
    font-size: 16px;
}

html,body {
	font-family: $proxima;
	background-color: $bg-black;	

	font-size: 1rem;
}

/* ===== SCSS Blocks ===== */

@import "blocks/header";
@import "blocks/logo";
