/* Fonts */

$avenir: 'Avenir Black', sans-serif;
$proxima: 'Proxima Nova', sans-serif;
$proxima-black: 'Proxima Nova Black', sans-serif;

/* Colors */

$white: #ffffff;
$blue: #0f33ff;
$purple: #391557;
$bg-black: #0b0b0b;
$black: #0c0c0c;
$gray: #282828;
$light-blue: #1769ff;
$pink: #ea4c89;
